<div class="container mt-5">
  <h2 class="text-center">About Us</h2>
  <div class="row mt-4">
    <div class="col-md-6">
      <p>
        Welcome to our organization! We are committed to providing the best services to our clients and ensuring their satisfaction.
      </p>
      <p>
        Founded in 2024, our mission is to deliver high-quality products and exceptional customer service. Our team consists of dedicated professionals who are passionate about what they do.
      </p>
      <p>
        We believe in innovation, integrity, and teamwork, which are the core values that drive our success. Our vision is to be a leader in our industry, setting standards for quality and excellence.
      </p>
      <p>
        Thank you for visiting our page, and we look forward to serving you!
      </p>
    </div>
    <div class="col-md-6">
      <img [src]="image" alt="About Us" class="img-fluid rounded" width="200px" height="100px">
    </div>
  </div>
</div>
